# PostgreSQL
POSTGRES_USER=banking
POSTGRES_PASSWORD=banking_pass
POSTGRES_DB=banking_db
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_USER=banking
RABBITMQ_PASS=banking_pass
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672

# MailHog
MAILHOG_SMTP_PORT=1025
MAILHOG_UI_PORT=8025
